# Prerequisites
*.d
*.elf
*.ogg
*.bin
*.xml
*.ini
*.exe
*.dll
*.so
*.bk
*.bak
*.thp
*.ppk
*.tpk
*.th3
*.spk
*.ssv
*.dds
*.html
*.htm
*.log
*.arf
*.user
*.zip
*.manifest
*.obj
*.dep
*.suo
*.ncb
*.pk
*.bma
*.bmb
*.bat
**/bin/
**/jtag/
**/data/
**/wdata/
**/.bmx/

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
